body {
  width: fit-content;
  margin: 0;
}
p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 34x;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22px;
  margin-top: 8px;
}
/*NAVBAR*/
header {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.783); /* opacity */
  text-align: right;
  position: fixed;
}
header ul {
  margin-right: auto;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.6%;
  margin-top: 0;
  margin-bottom: 0;
}
header li {
  float: left;
  font-family: monospace;
  font-size: large;
  padding: 15px;
  padding-top: 20px;
}
header p {
  display: inline-block;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 23%;
  text-align: left;
  float: left;
}
.logo img {
  width: 120px;
  margin-left: 0px;
  margin-top: 15px;
  padding-left: 14%;
}

/*HERO*/
.hero {
  background-color: whitesmoke;
}
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 100px;
  text-align: center;
}
.content img {
  height: 300px;
}
.content h1 {
  margin: 0;
}
.content p {
  margin-top: 10px;
}
.content button {
  background-color: #f4c2de;
  fill-opacity: inherit;
  padding: 10px 18px;
  font-size: larger;
  border-color: transparent;
  border-radius: 50px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 15px;
}

/* UX Skills Section */
.flexContainer {
  display: flex;
  padding: 0px 125px;
  background-color: white;
  align-items: top;
  justify-content: space-around;
}
.flexContainer div {
  padding: 15px 30px;
  padding-bottom: 50px;
  width: fit-content;
}
.uxSkills h1 {
  padding-top: 30px;
}
.flexContainer h3 {
  padding-top: 30px;
}
.flexContainer img {
  max-height:190px;
  margin: auto;
  align-items: center;
  display: block;
}

/* My Work Section */
.myWork {
  padding: 30px 140px;
  background-color: whitesmoke;
}
.myWork h1 {
  margin-top: 15px;
  margin-bottom: 0;
}
.workGrid {
  display: grid;
  grid-template-columns: 53% 47%;
  grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3";
    align-items: center;
    padding: 0;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
  /*background: linear-gradient(to bottom, whitesmoke 0%, #EDFFEA 100%);*/
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3 {
  padding: 60px 50px 80px 0;
}
.content1, .content2, .content3 {
  padding-left: 70px;
  padding-right: 24px;
 
}
.img1 img {
  max-width: 100%;
  height: auto;
}
.img2 img {
  max-width: 100%;
  height: auto;
}
.img3 img {
  max-width: 100%;
  height: auto;
}
.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content1 button {
  background-color: #c8e5c3;
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}
.content2 button {
  background-color: #b89cc2;
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}
.content3 button {
  background-color: rgb(119, 184, 204);
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
}

/*CONTACT INFO*/
.contactInfo .flexContainer button {
  background: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FOOTER*/
footer {
  background: linear-gradient(
    to bottom,
    whitesmoke 0%,
    #f4f9fc 18%,
    #f4e1fb 55%,
    #f4c2de 100%
  );
  width: 100%;
  display: inline-block;
  vertical-align: center;
}
footer ul {
  align-self: auto;
  display: inline-block;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
footer li {
  float: left;
  padding: 14px 14px;
}
footer img {
  width: 40px;
  display: flex;
  align-items: center;
  align-content: center;
}
footer button {
  border: transparent;
  margin: 0 auto;
  background: transparent;
}
footer p {
  float: right;
  margin-right: 45px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  text-size-adjust: smaller;
}

/* MOBILE MEDIA QUERY */
@media all and (max-width: 600px) {
  body {
    width: fit-content;
  }
  p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 20px;
  }
  .content {
    width: 70%;
    margin: 0 auto;
    padding: 62px;
    padding-top: 100px;
    text-align: center;
  }
  .content button {
    background-color: #f4c2de;
    fill-opacity: inherit;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 50px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 70px;
  }
  .flexContainer {
    display: flex;
    padding: 0px 125px;
    background-color: white;
    align-items: top;
    justify-content: space-around;
    flex-direction: column;
  }
  .flexContainer img {
    margin: 0 auto;
    margin: 0px 125;
    padding: 0 150px;
  }
  .workGrid {
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: auto;
    grid-template-areas:
      "img1"
      "content1"
      "img2"
      "content2"
      "img3"
      "content3";
      align-items: center;
  }
  .workGrid img {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .content1,
  .content2,
  .content3 {
    padding: 55px 150px 50px 150px;
  }
}
